@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
    --Rose200: #fdf7fc;
    --Rose400: #f3e5d8;
}


body {
    background-color: var(--Rose400);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: var(--Brown800);
}

p {
    color: var(--Stone600);
    line-height: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--White);
    border-radius: 20px;
    margin: 150px 0 40px 0;
    padding: 30px;
    max-width: 700px;
}


.omelette__image {
    width: 100%;
    border-radius: 15px;
}

.card__header h1 {
    font-size: 36px;
    margin: 20px 0 10px 0;
    font-weight: 600;
}

.card__header p {
    margin: 15px 0;
}

.card__header__preparation {
    background-color: var(--Rose200);
    padding: 25px;
    margin: 30px 0 0 0;
    border-radius: 15px;
}

.card__header__preparation h3 {
    color: var(--Rose800);
}


.list__items {
    margin: 10px 0 10px 30px;
    color: var(--Stone600);
    padding-left: 20px;
}

::marker {
    color: var(--Brown800);
    font-weight: 600;
}

.card__nutritions p {
    margin: 15px 0;
}

.card__ingredients, .card__instructions {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--Stone150);
}

table {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 500;
}

td:nth-child(even) {
    color: var(--Brown800);
    font-weight: 600;
    padding: 10px 150px;
}

td {
    color: var(--Stone600);
    text-align: left;
    border-bottom: 1px solid var(--Stone150);
    padding: 10px 40px;
}

tr:last-child td {
    border: none;
}

@media only screen and (max-width: 470px) {
    .omelette__image {
        padding: 0;
        border-radius: 0;
    }

    main {
        display: block;
        background: white;
    }

    .card {
        border-radius: 0;
        margin: 0;
        padding: 0px;
    }

    section {
        padding: 5px 20px;
    }

    td:nth-child(even) {
        padding: 10px 50px;
    }
}