@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
    --Rose200: #fdf7fc;
    --Rose400: #f3e5d8;
}

body {
    background-color: var(--Rose400);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}



p {
    color: var(--Stone600);
    line-height: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--White);
    border-radius: 20px;
    margin: 70px 0 40px 0;
    padding: 35px;
    width: 700px;
}

.omelette__image {
    width: 100%;
    border-radius: 15px;
}

.card__header h1 {
    font-size: 36px;
    margin: 20px 0 10px 0;
}

.card__header p {
    margin: 15px 0;
}

.card__header__preparation {
    background-color: var(--Rose200);
    padding: 25px;
    margin: 30px 0 0 0;
    border-radius: 15px;
}

.card__header__preparation h3 {
    color: var(--Rose800);
}

.bold {
    color: var(--Stone900);
    font-weight: 600;
}

.list__items {
    margin: 10px 0 10px 30px;
    list-style-type: disc;
    color: var(--Stone600);
    padding-left: 20px;
}

.ol {
    list-style-type: decimal;
}

.card__ingredients, .card__instructions, .card__nutritions {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--Stone150);
}





.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}